@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* BASE Styles */

:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    word-spacing: 1.4px;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    border: 10px solid var(--clr-dark);
}

.item {
    width: 150px;
    height: 150px;
    background-color: #fb7185;
    padding: 1rem;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border-radius: 10px;
    border: 10px solid var(--clr-accent);
}

/* End of BASE Styles */

.container {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* justify-content: flex-end;
    justify-content: center; */
    /* justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end;
    align-items: center;
    flex-wrap: wrap; */
    /* gap: 2em; */
}

.item-1 {
    flex-grow: 1;
    flex-grow: 0;
    flex-shrink: 0;
}