
:root {
    --clr-dark: #070a12;
    --clr-light: #f9f9fb;
    --clr-accent: #f43f70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    word-spacing: 1.4px;
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
}